<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{{ book.title }} Details</title>
</head>
<body>
    <div class="container mt-5">
        
        <table>
            <tr>
                <h2>{{ book.title }}</h2>
                <img src="{{ book.poster.url }}" alt="{{ book.title }}" class="img-fluid mt-3">    
                <p><strong>Author:</strong> {{ book.author }}</p>
                <p><strong>Genre:</strong> {{ book.genre }}</p>
                <p><strong>Rating:</strong> {{ book.rating }}</p>
                <p><strong>Description:</strong> {{ book.description }}</p>
                <p><strong>Publish Date:</strong> {{ book.publish_date }}</p>
                
            </tr>
            <tr>
                <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-3">Back to Dashboard</a>
            </tr>
        </table>
        
    </div>
</body>
</html>
